{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="display-4 text-center text-primary mb-3">Conoce a The Reader's Crypt</h1>
            <p class="lead text-center">
                En The Reader's Crypt, nos apasiona conectar a las personas con libros que iluminarán, inspirarán y entretendrán. Creemos que cada libro tiene el poder de cambiar vidas y estamos aquí para ayudarte a encontrar tu próxima gran lectura.
            </p>
            <p class="text-center mb-4">
                Con una experiencia de usuario impecable y un servicio al cliente que realmente se preocupa, nos esforzamos por ser tu librería digital de confianza, donde la calidad y el valor van de la mano.
            </p>
            <hr>
            <h2 class="text-center mt-4 mb-3">¿Por qué elegir The Reader's Crypt?</h2>
            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <h3 class="h5">Selección Curada</h3>
                    <p>Nuestro equipo selecciona cuidadosamente cada libro para garantizar que recibas lo mejor en literatura y no ficción.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h3 class="h5">Atención Personalizada</h3>
                    <p>Entendemos tus intereses y preferencias, ofreciéndote recomendaciones personalizadas que te encantarán.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h3 class="h5">Compromiso con la Excelencia</h3>
                    <p>Nos dedicamos a ofrecer un servicio excepcional y soporte completo, asegurando una experiencia de compra sin igual.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
