{% extends 'base.html' %}

{% block titulo %}{{ libro.titulo }}{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            {% if libro.imagen %}
                <img src="{{ libro.imagen.url }}" class="img-fluid" style="max-width: 100%; height: auto; max-height: 400px;" alt="{{ libro.titulo }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ libro.titulo }}</h1>
            <p>{{ libro.descripcion }}</p>
            <div>
                {% for genero in libro.generos.all %}
                    <span class="badge bg-secondary">{{ genero.nombre }}</span>
                {% endfor %}
            </div>
            <div class="mt-4">
                <a href="{% url 'editar_libro' libro.id %}" class="btn btn-primary" 
                   {% if not user.is_authenticated %}data-toggle="modal" data-target="#loginModal"{% endif %}>
                    Editar
                </a>
                {% if libro.pdf %}
                    <a href="{% if user.is_authenticated %}{{ libro.pdf.url }}{% else %}#{% endif %}" 
                       class="btn btn-success" download 
                       {% if not user.is_authenticated %}data-toggle="modal" data-target="#loginModal"{% endif %}>
                        Descargar PDF
                    </a>
                {% endif %}
                <a href="{% if user.is_authenticated %}{% url 'añadir_a_favoritos' libro.id %}{% else %}#{% endif %}" 
                   class="btn btn-warning" 
                   {% if not user.is_authenticated %}data-toggle="modal" data-target="#loginModal"{% endif %}>
                   {% if user.is_authenticated and libro in user.profile.favoritos.all %}
                        Añadido a Favoritos
                    {% else %}
                        Añadir a Favoritos
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
